.login-container {
  display: grid;
  place-items: center;
 

  min-height: calc(100vh - 120px);
 
  background: linear-gradient(120deg, #004e92, #000428);
  font-family: 'Poppins', sans-serif;
  padding: 20px; 
  box-sizing: border-box;
}
 
.login-card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
 
  
  width: 100%;
  max-width: 400px;
  min-width: 320px;
  box-sizing: border-box;
  text-align: center;
}
 
h2 {
  color: #004e92;
  margin-bottom: 10px;
}
 
.subtitle {
  color: gray;
  margin-bottom: 30px;
}
 
.form-group {
  text-align: left;
  margin-bottom: 20px;
}
 

.captcha-container {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center; 
}
 

.captcha-container .error-text {
  color: #e74c3c;
  font-size: 0.85em;
  margin-top: 4px;
  text-align: center;
}
 
label {
  display: block;
  color: #333;
  font-weight: 600;
  margin-bottom: 8px;
}
 
input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  transition: border 0.3s;
  box-sizing: border-box;
}
 
input:focus {
  border-color: #004e92;
  outline: none;
}
 
button {
  width: 100%;
  padding: 12px;
  background: #004e92;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}
 
button:hover {
  background: #0074e4;
}

.error {
  color: #e74c3c;
  margin-top: 15px;
  font-weight: 500;
}